<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="../images/logos.jpg">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylesheet.css">
  <title>Edit Agent</title>

</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">My Agent </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

      
            <div class="flex-agent-main">
                <div class="main-properties">
                    <div class="header-box">
                        <h3 class="text-box">Edit Agent </h3>
                    </div>

                    <form action="/editAgent/<%- agent._id %>" method="post">

                        <div class="edit-agent">

                            <div class="editagent-box1">

                                <label for="">Agent Name:</label>
                                <input class="agent-input" type="text" name="agentName"
                                value="<%- agent.agentName %>" required><br>
            
                                <label for="">Agent Email:</label>
                                <input class="agent-input" type="text" name="agentEmail"
                                value="<%- agent.agentEmail %>" required><br>

                                <label for="">Agent Number:</label>
                                <input class="agent-input" type="text" name="agentNumber"
                                value="<%- agent.agentNumber %>" required><br>

                                <label for="">Agent Position:</label>
                                <input class="agent-input" type="text" name="agentPosition"
                                value="<%- agent.agentPosition %>" required>

                                <label for="">Agent Address:</label>
                                <input class="agent-input" type="text" name="agentAddress"
                                value="<%- agent.agentAddress %>" required>

                            </div>
                            <div class="editagent-box2">
                               
                                <label for="">Emergency Name:</label>
                                <input class="agent-input" type="text" name="emergencyName"
                                value="<%- agent.emergencyName %>" required><br>

                                <label for="">Emergency Number:</label>
                                <input class="agent-input" type="text" name="emergencyNumber"
                                value="<%- agent.emergencyNumber %>" required><br>

                                <label for="">Employed Date:</label>
                                <input class="agent-input" type="date" name="employDate"
                                value="<%- agent.employDate %>" required><br>

                                <label for="">Agent About:</label>
                                <input class="agent-input" type="text" maxlength="250" name="agentDetails"
                                value="<%- agent.agentDetails %>" required>

                              
                            </div>

                            <button class="uptAgent-btn">Update Agent Details</button>
                        </div>


                    </form>     
                   
                    

                </div>

            </div>

       
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="../assets/js/loopple/forminput.js"></script>   <!-- addPropertyForm -->
  <script src="../js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../js/menu-aim.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>