<!DOCTYPE html>
<html lang="en">
<head>
<title>Korex Realestate</title>
<meta charset="UTF-8" />
<meta name="description" content="Korex hospital ">
    <meta name="keywords"
        content="RealEstate,Estate,Korex RealEstate, Housing, Rent House,House For sale">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../images/logos.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
 	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../bootstrap/style.css"/>
  <link rel="stylesheet" href="../css/log.css"/>


	<script src="../bootstrap/js/bootstrap.js"></script>
  <script src="../bootstrap/script.js"></script>



<!-- Owl stylesheet -->
<link rel="stylesheet" href="../bootstrap/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="../bootstrap/owl-carousel/owl.theme.css">
<script src="../bootstrap/owl-carousel/owl.carousel.js"></script>
<!-- Owl stylesheet -->


<!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="../bootstrap/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../bootstrap/slitslider/css/custom.css" />
    <script type="text/javascript" src="../bootstrap/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="../bootstrap/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="../bootstrap/slitslider/js/jquery.slitslider.js"></script>
<!-- slitslider -->

</head>

<body>




<div class="container">
<div class="spacer agents">
    <%- include(`partials/messages`); -%>
<div class="row">
  
    <section>
        <div class="form-box">
            <div class="form-value">
               
            
                <form action="logPage" method="post">
                    <h2>Login</h2>
                     
                    <div class="inputbox">
                        <!-- from https://ionic.io/ionicons -->
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" name="username" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                        <% let role=["Select Role","Admin", "Editor"] %>

                        <!-- <label class="labelinput">Select Property Type</label> -->
                        <select  name="role"
                         value="<%= typeof role != 'undefined' ? role : '' %>">

                        <% role.forEach((so)=> { %>
                        <option value="<%- so %>"><%- so %></option>

                        <% }) %>

                        </select>

                       
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me</label>
                        
                    </div>
                    <button>Log in</button>
                    <!-- <div class="register">
                        <p>Dont have a account <a href="/registerPage">Register</a></p>
                    </div> -->
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>


</div>
</div>

<%- include(`partials/footer`); -%>



