<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="../images/logos.jpg">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylesheet.css">
  <title>Agents</title>

</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">Welcome to Agent Profile </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

        

            <div class="flex-agent-main">
                <div class="main-properties">

                
                                   
                    <ul class="v">
                        <br>
                         <p>                                            
                          <img class="agentImageTwo" src="data:<%= ourAgent.image.contentType %>;base64,<%= ourAgent.image.data.toString('base64') %>">
                                                        
                         </p>
                        <li><strong>Agent Name</strong></li>
                        <p>
                            <%=ourAgent.agentName%>
                        </p>
                        <hr>
                        <li><strong>Agent Email</strong></li>
                        <p>
                            <%=ourAgent.agentEmail%>
                        </p>
                        <hr>
                        <li><strong>Agent Number</strong></li>
                        <p>
                            <%=ourAgent.agentNumber%>
                        </p>
                        <hr>
                        <li><strong>Agent Position</strong></li>
                        <p>
                            <%=ourAgent.agentPosition%>
                        </p>
                        <hr>
                        <li><strong>Agent Address</strong></li>
                        <p>
                            <%=ourAgent.agentAddress%>
                        </p>
                        <hr>
                        <li><strong>Emergency Name</strong></li>
                        <p>
                            <%=ourAgent.emergencyName%>
                        </p>
                        <hr>
                        <li><strong>Emergency Number</strong></li>
                        <p>
                            <%=ourAgent.emergencyNumber%>
                        </p>
                        <hr>
                        <li><strong>Employed Date</strong></li>
                        <p>
                            <%=ourAgent.employDate%>
                        </p>
                        <hr>
                        <li><strong>Agent About</strong></li>
                        <p>
                            <%=ourAgent.agentDetails%>
                        </p>
                        <hr>
                    

                    </ul>
              
                    

                </div>

            </div>

       
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="../assets/js/loopple/forminput.js"></script>   <!-- addPropertyForm -->
  <script src="../js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../js/menu-aim.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>