<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="images/logos.jpg">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <title>Agents</title>

</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">Welcome to Agents </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

        <div class="flex-agent-banner">

            <div class="header-box">
                <h3 class="text-box">Add New Agent </h3>
            </div>
            

            <form action="/myAgents" method="post" enctype="multipart/form-data">

                <div class="agent-box1">
                    <label for="">Agent Name:</label>
                        <input class="agent-input" type="text" name="agentName" placeholder="Agent Name"
                            value="<%= typeof agentName != 'undefined' ? agentName : '' %>"><br>

                    <br><label for="">Agent Email:</label>
                            <input class="agent-input" type="text" name="agentEmail" placeholder="Agent Email"
                            value="<%= typeof agentEmail != 'undefined' ? agentEmail : '' %>"><br>

                </div>

                <div class="agent-box2">
                    <label for="">Agent Number:</label>
                        <input class="agent-input" type="text" name="agentNumber" placeholder="Agent Number"
                        value="<%= typeof agentNumber != 'undefined' ? agentNumber : '' %>"><br>

                    <br><label for="">Agent Position:</label>
                        <input class="agent-input" type="text" name="agentPosition" maxlength="250" placeholder="Agent Position"
                        value="<%= typeof agentPosition != 'undefined' ? agentPosition : '' %>"><br>

                </div>

                <div class="agent-box3">

                    <label for="">Agent Address:</label>
                        <input class="agent-input" type="text" name="agentAddress" placeholder="Agent Address"
                        value="<%= typeof agentAddress != 'undefined' ? agentAddress : '' %>"><br>

                    <br><label for="">Emergency Name:</label>
                        <input class="agent-input" type="text" name="emergencyName" placeholder="Emergency Name"
                        value="<%= typeof emergencyName != 'undefined' ? emergencyName : '' %>"><br>

                </div>
                <div class="agent-box4">
                  
                    <label for="">Emergency Number:</label>
                        <input class="agent-input" type="text" name="emergencyNumber" placeholder="Emergency Number"
                        value="<%= typeof emergencyNumber != 'undefined' ? emergencyNumber : '' %>"><br>

                    <br><label for="">Employment Date:</label>
                        <input class="agent-input" type="date" name="employDate"
                        value="<%= typeof employDate != 'undefined' ? employDate : '' %>"><br>

                </div>
                <div class="agent-box4">
                  
                    <label for="">Agent Details:</label>
                        <input class="agent-input" type="text" name="agentDetails" maxlength="250" placeholder="Agent Details"
                        value="<%= typeof agentDetails != 'undefined' ? agentDetails : '' %>"><br>

                    <br> <label for="">Upload  Image:</label>
                        <input type="file" name="image">

                      


                </div>
            <button class="agent-btn">Add Agent</button>
             

              
            </form>
        </div>

            <div class="flex-agent-main">
                <div class="main-properties">

                    <table>
                        <thead>
                            <tr>
                                <th>Agent Image</th>
                                <th>Agent Name</th>
                                <th>Agent Email</th>
                                <th>Agent Number</th>
                                <th>Agent Postion</th>
                                <th>Agent Achievment</th>
                                <th>Emergency Name</th>
                                <th>Employment Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (agent.length > 0) { %>
                                <!-- Render the table here showing images in array -->
                                <% agent.forEach(agent => { %>
                                    <tr>
                                        <td>                                            
                                                    <img class="agentImage" src="data:<%= agent.image.contentType %>;base64,<%= agent.image.data.toString('base64') %>">
                                                                                  
                                        </td>
                                        <td><%= agent.agentName %></td>
                                        <td><%= agent.agentEmail %></td>
                                        <td><%= agent.agentNumber %></td>
                                        <td><%= agent.agentPosition %></td>
                                        <td>
                                            <% if (agent.agentDetails) { %>
                                                <%= agent.agentDetails.substring(0, 10) + "..." %>
                                                <a href="/moreAboutAgent/<%= agent._id %>">More</a>
                                            <% } else { %>
                                                N/A
                                            <% } %>
                                        </td>
                                        <td><%= agent.emergencyName %></td>
                                       
                                        <td><%= agent.employDate %></td>
                                        <td data-label="Edit"><a href="/editAgent/<%= agent._id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                        <td data-label="Delete"><a href="/deleteAgent/<%= agent._id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="12">No Agents information to display.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div class="center">
                        <div class="pagination">
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <a href="/myAgents?page=<%= i %>"
                                    class="<%= currentPage === i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                                <% } %>
                        </div>
                    </div>

                </div>

            </div>

       
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="assets/js/loopple/forminput.js"></script>   <!-- addPropertyForm -->
  <script src="js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="js/menu-aim.js"></script>
  <script src="js/main.js"></script>
</body>
</html>