<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="images/logos.jpg">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
  <title>view Property</title>

</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">My Properties </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

        

        <div class="flex-banner-container">
               

            <div class="main-properties">


                <table>
                    <thead>
                        <tr>
                            <th>Property image</th>
                            <th>Property type</th>
                            <th>Property Price</th>
                            <th>Property Condition</th>
                            <th>Status</th>
                            <th>Agent Number</th>
                            <th>Property roofing</th>
                            <th>Property address</th>
                            <th>Property city</th>
                            <th>Property State</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (properties.length > 0) { %>
                            <!-- Render the table here showing images in array -->
                            <% properties.forEach(property => { %>
                                <tr>
                                    
                                    <td>
                                        <% if (property.images && property.images.length > 0) { %>
                                            <% property.images.forEach(image => { %>
                                                <img class="propertimg" src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>">
                                            <% }); %>
                                        <% } %>
                                    </td>
                                   
                                    <td><%= property.propertyType %></td>
                                    <td><%= property.amount %></td>
                                    <td><%= property.houseCondition %></td>
                                    <td><%= property.propertyStatus %></td>
                                    <td><%= property.agentNumber %></td>
                                    <td><%= property.roofing %></td>
                                    <td><%= property.address %></td>
                                    <td><%= property.countryCity %></td>
                                    <td><%= property.countryState %></td>
                                    <td data-label="Edit"><a href="/editProperty/<%= property._id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                    <td data-label="Delete"><a href="/deleteProperty/<%= property._id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="12">No properties to display.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
              
            </div>            
        </div>
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="assets/js/loopple/forminput.js"></script>   <!-- addPropertyForm -->
  <script src="js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="js/menu-aim.js"></script>
  <script src="js/main.js"></script>
</body>
</html>