<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex RealEstate</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../font/typicons.css">
    <link rel="stylesheet" href="../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../img/logos.jpg">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/backend/dashboard"><img src="../img/logos.jpg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/backend/dashboard"><img src="../img/logos.jpg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>

        <%- include ('../partials/adminNav'); -%>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/adminSidebar'); -%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              
                <%- include (`../partials/messages`); -%>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                         <div class="card-body">
                           <h4 class="card-title">Agent Form</h4>
                           <p class="card-description">
                             Add New Agent
                           </p>
                           <form class="forms-sample" action="/backend/myAgentsPagePost" method="post" enctype="multipart/form-data">

                             <div class="form-group">
                               <label for="exampleInputName1">Name</label>
                               <input type="text" class="form-control"  name="agentName"
                               value="<%= typeof agentName != 'undefined' ? agentName : '' %>"/>
                             </div>

                             <div class="form-group">
                               <label for="exampleInputEmail3">Email</label>
                               <input type="email" class="form-control"  name="agentEmail" 
                               value="<%= typeof agentEmail != 'undefined' ? agentEmail : '' %>"/>
                             </div>

                             <div class="form-group">
                                <label for="exampleInputEmail3">Phone Number</label>
                                <input type="text" class="form-control" i name="agentNumber" 
                                value="<%= typeof agentNumber != 'undefined' ? agentNumber : '' %>"/>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputEmail3">Position</label>
                                <input type="text" class="form-control"  name="agentPosition" 
                                value="<%= typeof agentPosition != 'undefined' ? agentPosition : '' %>"/>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Home Address</label>
                                <input type="text" class="form-control" name="agentAddress"
                                value="<%= typeof agentAddress != 'undefined' ? agentAddress : '' %>" />
                              </div>
                              
                              <div class="form-group">
                                <label for="exampleInputCity1">Emergency Name</label>
                                <input type="text" class="form-control" name="emergencyName"
                                value="<%= typeof emergencyName != 'undefined' ? emergencyName : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Emergency Number</label>
                                <input type="text" class="form-control" name="emergencyNumber"
                                value="<%= typeof emergencyNumber != 'undefined' ? emergencyNumber : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Employment Date</label>
                                <input type="date" class="form-control" name="employDate"
                                value="<%= typeof employDate != 'undefined' ? employDate : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Agent Bio</label>
                                <input type="text" class="form-control" name="agentBio"
                                value="<%= typeof agentBio != 'undefined' ? agentBio : '' %>" />
                              </div>


                              <div class="form-group">
                                <label for="exampleInputCity1">Upload Image</label>
                                <input type="file" class="form-control" name="image" />
                              </div>
                            
                             <button type="submit" class="btn btn-primary mr-2">Submit</button>
                             <button class="btn btn-light">Cancel</button>
                           </form>
                         </div>
                    </div>
                </div>
         </div>
      
         <%- include (`../partials/adminFooter`); -%>
     
        </div>
   
      </div>
  
    </div>

 
 

 

  </body>
</html>