<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="icon" href="../images/logos.jpg">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylesheet.css">
  <title>Edit Property</title>
 
</head>
<body>
  <%- include(`partials/header2`); -%>
  
  <main class="cd-main-content">
    <%- include(`partials/sidebar`); -%>
  
    <div class="cd-content-wrapper">
      <div class="text-component text-center">

        <div class="headers">

          <h3 class="text-box1">Edit Properties </h3>
          <div class="bottom-left">We are glad to see you again!</div>

        </div>

        <%- include (`./partials/messages`); -%>

        <div class="flex-banner-container">

            <div class="main-properties">
                <form action="/editProperty/<%- properties._id %>" method="post">
                    <div class="edit-property1">
                        <div class="edit-property-box1">

                            <label class="labelinput">Agent Fullname</label><br>
                            <input class="editinput" type="text" name="contactPerson"
                            value="<%- properties.contactPerson %>" required>
    
                            <br> <label class="labelinput">House Description</label>
                            <br><input class="editinput" type="text" name="description"
                            value="<%- properties.description %>" required>
    
                            <% let propertyType=["Apartment", "Loft", "Office","House","Bungalow","Land"] %>

                            <br> <label class="labelinput">Property Type</label>
                            <br><select class="editinput" style="margin-top:-0.50px" name="propertyType">
                            <option value="<%- properties.propertyType %>"><%- properties.propertyType %></option>

                                <% propertyType.forEach((so)=> { %>
                                    <option value="<%- so %>"><%- so %></option>

                                    <% }) %>

                            </select>


                        </div>
                        <div class="edit-property-box2">

                            <label class="labelinput">Property Price</label>
                            <br><input class="editinput" type="text" name="amount"
                            value="<%- properties.amount %>" required>

                            <% let houseCondition=["New", "Renovated", "Old" ] %>

                             <label class="labelinput">House Condition</label>
                            <br><select class="editinput" style="margin-top:-0.50px" name="houseCondition">
                            <option value="<%- properties.houseCondition %>"><%- properties.houseCondition %></option>

                                <% houseCondition.forEach((so)=> { %>
                                    <option value="<%- so %>"><%- so %></option>

                                    <% }) %>

                            </select>

                                    <br><label class="labelinput">Yearly Tax Rate</label>
                                    <br><input class="editinput" type="text" name="tax"
                                        value="<%- properties.tax %>" required /><br>

                        </div>
                        

                    </div>

                    <div class="edit-property2">

                        <div class="edit-property-box1">

                            <% let propertyStatus=["Shortlet", "For Rent","For Sale", "Sold" ] %>

                             <label class="labelinput">Property Status</label>
                             <select class="editinput" style="margin-top:-0.50px" name="propertyStatus">
                            <option value="<%- properties.propertyStatus %>"><%- properties.propertyStatus %></option>

                                <% propertyStatus.forEach((so)=> { %>
                                    <option value="<%- so %>"><%- so %></option>

                                    <% }) %>

                            </select>
    
                            <label class="labelinput">Agent Number</label>
                            <br><input class="editinput" type="text" name="agentNumber"
                            value="<%- properties.agentNumber %>" required>
    
                            <label class="labelinput">Property Address</label>
                            <input class="editinput" type="text" name="address"
                            value="<%- properties.address %>" required>


                        </div>

                        <div class="edit-property-box2">

                            <% let countryState=["Lagos", "Ogun State"] %>

                            <label class="labelinput">State</label>
                            <select class="editinput" style="margin-top:-0.50px" name="countryState">
                            <option value="<%- properties.countryState %>"><%- properties.countryState %></option>

                                <% countryState.forEach((so)=> { %>
                                    <option value="<%- so %>"><%- so %></option>

                                    <% }) %>

                            </select>
    
                            <% let countryCity=["Lagos Island", "Ikeja", "Victoria Island", "Ikoyi", "Apapa", "Surulere", "Yaba", "Agege", "Ikorodu", "Badagry", "Epe", "Festac Town", "Lekki", "Ajah", "Maryland", "Oshodi", "Mushin", "Bariga", "Ojodu", "Alimosho", "Egbeda", "Ikotun", "Isheri-Olofin", "Ketu", "Isolo", "Okota", "Ojo", "Alaba"] %>

                            <label class="labelinput">City</label>
                            <select class="editinput" style="margin-top:-0.50px" name="countryCity">
                            <option value="<%- properties.countryCity %>"><%- properties.countryCity %></option>

                                <% countryCity.forEach((so)=> { %>
                                    <option value="<%- so %>"><%- so %></option>

                                    <% }) %>

                            </select>

                            <br> <label class="labelinput">Size in ft (only numbers)</label>
                            <br><input class="editinput" type="number" name="sizeinFt"
                            value="<%- properties.sizeinFt %>" required>

                        </div>

                        
                    </div>

                    <!-- <div class="edit-property1"></div> -->

                    <div class="edit-property3">
                       

                            <div class="edit-property-box1">

                                <label class="labelinput">Property Header</label>
                                <input class="editinput" type="text" name="heading"
                                value="<%- properties.heading %>" required>
        
                                <br> <label class="labelinput">Rooms</label>
                                <br><input class="editinput" type="text" name="rooms"
                                value="<%- properties.rooms %>" required>
        
                                <br> <label class="labelinput">Bedrooms</label>
                                <br><input class="editinput" type="text" name="bedrooms"
                                value="<%- properties.bedrooms %>" required>
        
        
                            </div>


                      
                        <div class="edit-property-box2">

                                <label class="labelinput">Bathrooms</label>
                                <br><input class="editinput" type="text" name="bathrooms"
                                value="<%- properties.bathrooms %>" required>
        
                                <label class="labelinput">Garages</label>
                                <br><input class="editinput" type="text" name="garages"
                                value="<%- properties.garages %>" required>
        
                                <br><label class="labelinput">Garage size </label>
                                <br><input class="editinput" type="text" name="garageSize"
                                     value="<%- properties.garageSize %>" required /><br>
        
                           
                        </div>
                        

                    </div>

                    <div class="edit-property4">

                        <div class="edit-property-box1">

                            <label class="labelinput">Year built (numeric)</label>
                            <br><input class="editinput" type="number" name="yearBuilt"
                            value="<%- properties.yearBuilt %>" required>

                            <label class="labelinput">Available from (date)</label>
                            <br><input class="editinput" type="date" name="availableFrom"
                            value="<%- properties.availableFrom %>" required>
    
                            
    
                            <label class="labelinput">Property Basement</label>
                            <input class="editinput" type="text" name="basement"
                            value="<%- properties.basement %>" required>


                        </div>

                        <div class="edit-property-box2">

                            <label class="labelinput">Property Roofing</label>
                            <br><input class="editinput" type="text" name="roofing"
                            value="<%- properties.roofing %>" required>
    
                            <label class="labelinput">Exterior Material</label>
                            <br><input class="editinput" type="text" name="exteriorMaterial"
                            value="<%- properties.exteriorMaterial %>" required>

                     
                            <button class="submit-btn">Update Property</button>
                           
                        </div>
                        
                    </div>
                    





                </form>
            </div>            
        </div>
        
      </div>
    </div> <!-- .content-wrapper -->
  </main> <!-- .cd-main-content -->
  <script src="../assets/js/loopple/forminput.js"></script>   <!-- addPropertyForm -->
  <script src="../js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../js/menu-aim.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>